.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Categories {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 54rem;
    margin-right: 30px;
}

.logo {
    margin-left: 65px;
}

.Categories Button {
    color: #EEE2DE;
    font-size: medium;
    font-weight: 600;
}