.cards-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.ItemFooter button {
    background-color: #f0aba4;
    color: white;

}

.Info {
    font-size: 16px;

}